body {
    background-color: seashell;
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  
  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
  }
  