{% extends "Pizzas/base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'format.css' %}">

<h1><p style="font-size:40px">Nates Famous Pizza</p></h1>

<p> Born in the Canadian Backwoods, raised in the Heart of Texas, you already know we have the best Pineapple Pizzas </p>
<p> The best pizzas come from a culmination of different cultures, and thats what we provide! </p>

<img src="{% static 'PepPiz.jpg' %}" style="max-height:350px"><img src="{% static 'veg.jpg' %}" style="max-height:400px;px"><img src="{% static 'pineapplepp.jpg' %}" style="max-height:400px">


{% endblock content %}