{% extends "Pizzas/base.html" %}

{% block content %}

<p>Pizza: {{ pizza }} </p>
{% for i in image %}
<div class="col-md-4">
    <img src="{{  i.image.url  }}" class="img-responsive" style="width: 40%; margin-right: 10px;" />
</div>
{% empty %}
<p> There isn't an image for this pizza yet </p>
{% endfor %}   

<form method="POST">
    <ul>
        {% for t in toppings %}

        <p>-- {{ t.topping_name}} </p>

        {% endfor %}

    </ul>
    <br><br> 
    <p>Customers said this about the {{pizza}} Pizza:</p>
    <br>   
    <ul>
        {% for c in addcomment %}
        <p>-- {{ c.text }} </p>

        {% empty %}
        <p> There are no reviews yet.</p>
        {% endfor %}
        
    </ul>

    <p><a href="{% url 'Pizzas:comment' pizza.id %}">What would you like to tell us?</a></p>
</form>
{% endblock content %}